* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #6d2d92;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
}

.quiz-container {
    background-color: #d6e22b;
    border-radius: 15px;
    box-shadow: 5px 8px 30px rgba(207, 181, 181, 0.945);
    width: 80%;
    max-width: 600px;
    padding: 20px;
    text-align: center;
}

span {
    display: block;
    margin-top: 2rem;
    color: #777;
    a {
      font-size: .7rem;
      color: #999;
      text-decoration: underline;
    }
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
  }
    
/*é o mesmo que o span
.question {
    display: block;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #777;
    text-align: center;
    a {
      font-size: .7rem;
      color: #999;
      text-decoration: underline;
    }
}*/

.answers-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.answer {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.answer:hover {
    background-color: #2980b9;
}

.controls-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.start-quiz,
.next {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/*vai ser implementado*/

.start-quiz:hover,
.next:hover {
    background-color: #27ae60;
}

.next {
    background-color: #e74c3c;
}

.next:hover {
    background-color: #c0392b;
}

button:focus {
    outline: none;
}

.button {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #e4cf12;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(122, 152, 206);
      border-radius: 10rem;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: darken(rgb(0, 140, 255), 15%);
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
    }
    &:hover {
      color: #902994;
      filter: brightness(0.8);
      &:before {
        width: 100%;
      }
    }
  }
