* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
  text-decoration: none;
  font-size: 20px;
}

body {
  background-color: #1f0220;
  color:#fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-transform: uppercase;
  font-size: .8rem;
  margin-bottom: 2rem;
  color: #FFD700;
}

.container {
  width: 90%;
  max-width: 800px;
  background-color: #330335;
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 16px;
  box-shadow: 0 0 2px 2px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.question {
   font-size: 24px;
   font-weight: bold;
   text-align: center;
}

.answers-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  
}

.next-question {
  margin-top: 32px;
}

.button {
  background-color: #4353ada2;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: 2px;
  border-radius: 20px;
  height: 48px;
  padding: 0 32px;
  transition: fiter 0.2s;
  cursor: pointer;
}

.button:not(:disabled):hover {
  filter: brightness(0.8);
  color: #FFD700;
}

.answer:disabled {
  cursor: not-allowed;
}

.final-message {
  font: size 20px;
  text-align: center;
}

.final-message span{
  display: block;
  margin-top: 8px;;
}

.hide{
    display: none;
}

.correct {
  background-color: rgb(0, 255, 21);
}

.incorrect {
  background-color: rgb(199, 34, 34);
}