* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
  text-decoration: none;
  font-size: 1.25rem;
  color: #FEB737;
}

body {
  background-color: #1f0220;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.25rem;
  color: #FEB737;
  margin: 0;
  text-align: center;
  padding: 1.5rem;
}

.container {
  width: 100%;
  max-width: 50rem; 
  background-color: #330335;
  border-radius: 0.9375rem; 
  padding: 2rem; 
  box-shadow: 
    0 0 0.6rem #764a8d, 
    0 0 1rem #764a8d,   
    0 0 1.5rem #764a8d, 
    0 0 2rem #764a8d;   
  animation: neon 1.5s infinite alternate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem; 
}

.question {
  font-size: 1.5rem; 
  font-weight: bold;
  text-align: center;
}

.answers-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem; 
}

.next-question {
  margin-top: 2rem; 
}

.button {
  background-color: #A7B5FE;
  color: #543787;
  font-size: 1.25rem;
  font-weight: bold;
  border: 2px;
  border-radius: 1.25rem;
  height: 3rem; 
  padding: 0 2rem; 
  transition: filter 0.2s;
  cursor: pointer;
}

.button:not(:disabled):hover {
  filter: brightness(0.8);
  color: #BF9460;
}

.answer:disabled {
  cursor: not-allowed;
}

.final-message {
  font-size: 1.25rem; 
  text-align: center;
}

.final-message span {
  display: block;
  margin-top: 0.5rem; 
}

.hide {
  display: none;
}

.correct {
  background-color: #A9D39E;
  animation: neon 1.5s infinite alternate;
}

.incorrect {
  background-color: #E83F49;
}

@keyframes neon {
  0%, 100% {
    box-shadow: 
      0 0 0.5rem #764a8d, 
      0 0 1rem #764a8d, 
      0 0 1.5rem #764a8d, 
      0 0 2rem #764a8d;
  }
  50% {
    box-shadow: 
      0 0 0.25rem #764a8d, 
      0 0 0.5rem #764a8d, 
      0 0 0.75rem #764a8d, 
      0 0 1rem #764a8d;
  }
}

#smile {
  font-size: 2rem;
}

@media screen and (max-width: 63.75rem) { 
  .container {
    padding: 0.5rem; 
  }

  .question {
    font-size: 1.125rem; 
  }

  .button {
    font-size: 0.6rem; 
    height: 2.8rem;
    border-radius: 3.125rem; 
  }
}